@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background: rgb(77, 14, 203);
  background: radial-gradient(
    circle,
    rgba(77, 14, 203, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 850px;
  padding: 60px;
  margin-top: 10px;
  background: rgb(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgb(0, 0, 0,1.0);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 12px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3c9234;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #4dca42;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}
